{% extends 'base.html.twig' %}
{% block title %}Downtimes{% endblock %}
{% block content %}
    {% for host in hosts %}
    <form method="post">
        <input hidden name="id" value="{{ host.id }}">
        <input name="active" value="true" {% if host.active %}checked{% endif %} type="checkbox">
        <input name="alias" value="{{ host.alias }}" placeholder="Alias">
        <input name="host" value="{{ host.host }}">
        <input name="interval" type="number" value="{{ host.interval }}">
        <button type="submit">Save Changes.</button>
    </form><br>
    {% endfor %}
    <br><br>
    <form method="post">
        <input name="alias" placeholder="Alias">
        <input name="host" placeholder="host.example.com">
        <select name="type">
            <option value="ping">Ping to server</option>
            <option value="web">Send web request to URL (Down: status!=2xx)</option>
        </select>
        <button type="submit">Add</button>
    </form><br>
{% endblock %}