<html>
<body>
<form method="post">
    <input type="text" placeholder="Username" name="username"><br><br>
    <input type="password" placeholder="Password" name="password"><br><br>
    <button type="submit">Login</button>
</form>
</body>
</html>